@use '../tools/global' as *;

.blog {
    border-top: solid 1px #000;
    margin: 60px 0 0 144px;
    padding: 60px 0 0 0;
    font-family: presicav, sans-serif;
    box-sizing: border-box  ;
    @include media-screen-sp() {
        // width: get-percent-size(750, 686);
        padding-left: 12vw;
      }
    &__ttl{
        font-family: presicav, sans-serif;
        @include fz(24);
        margin: 0 0 26px;
        width: 90%;
        color: #000;
        span{
            display: inline-block;
            margin: 0 10px;
        }
        @include media-screen-sp() {
            @include fz(18);

        }
    }
    &__cate{
        font-family: presicav, sans-serif;
        @include fz(16);
        font-weight: 300;
        margin: 0 0 24px;
        width: 90%;
        color: #000;

        span{
            display: inline-block;
            font-weight: 500;
            &::after{
                content: ", ";
                margin-right: 5px;
            }
            &:last-child{
                &::after{
                    content: "";
                }
            }
        }


    }
    p{
        width: 90%;
        color: #000;

        font-weight: 300;
        font-family: presicav, sans-serif;
        line-height: 1.6;
        @include fz(16);
        @include media-screen-sp() {
            @include fz(14);

        }
    }
    img{
        display: block;
        width: 100%;
        height: auto;
        @include fz(16);
        margin: 0 0 1em;
        
    }
    .wp-block-embed__wrapper{
    }
    &__content{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        .wp-block-image {
            width: 49%;
            min-width: 49%;
            max-width: 49%;
            margin: 0 0 2%;
            img{
                width: 100%;
                height: auto!important;
            }
        }
        .wp-block-embed-youtube {
            width: 80%;
            max-width: 980px;
            margin: 0 0 2%;

        }
        p{
            width: 90%;
            display: block;
            min-width: 90%;
            max-width: 90%;
            margin-bottom: 2%;
        }
    }
  @include media-screen-sp() {
    padding-top: 7vw;
    margin: 7vw 0 0 12vw;
    padding-left: 0;
    &__content{
        display: block;
        width: 100%;
        .wp-block-image {
            width: 100%;
            min-width: 100%;
            max-width: 100%;
            margin: 0 0 2vw;
            img{
                width: 100%;
                height: auto!important;
            }
        }
        .wp-block-embed-youtube {
            width: 100%;
            max-width: 100%;
            margin: 0 0 2vw;

        }
        p{
            margin-bottom: 2vw;
        }
    }
  }
}


.wp-block-image .alignleft{
    display: block;
    margin: 0;
    float: none;
}


//追記
.blog__cate{
    span{
        font-size: 14px;
        @include media-screen-sp() {
            font-size: 12px;

        }

    }
}
.blog__content{
    p{
        font-size: 15px;
        @include media-screen-sp() {
            font-size: 10px;
            width: 96%;
            max-width: 96%;
            min-width: 96%;
        }
    }
}
